# Created by .ignore support plugin (hsz.mobi)
*.ncrunch*
*vs/*
*.xproj.user
packages/*
**/obj/*
**/bin/*
*.crunch*
_NCrunch_artmdv-webapi/*
C:\Projects\personal\artmdv-webapi\src\artmdv-webapi\project.lock.json