# Created by .ignore support plugin (hsz.mobi)
*.ncrunch*
*vs/*
*.xproj.user
packages/*
**/obj/*
**/bin/*
*.crunch*
_NCrunch_artmdv-webapi/*
**/project.lock.json
config.json
test.html
src/artmdv-webapi/wwwroot/Images/
src/artmdv-webapi/Images/
